In [1]:
import pandas as pd
import numpy as np

HPP = pd.read_csv('../input/house-price-prediction-challenge/train.csv')
HPP.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [2]:
HPP.isnull().sum()

POSTED_BY                0
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    0
dtype: int64

In [3]:
HPP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [4]:
HPP['ADDRESS'].unique()
print(len(HPP['ADDRESS'].unique()))

6899

In [5]:
HPP['POSTED_BY'].unique()

array(['Owner', 'Dealer', 'Builder'], dtype=object)

In [6]:
HPP['BHK_OR_RK'].unique()

array(['BHK', 'RK'], dtype=object)

In [7]:
#HPP = HPP[: 8000]

In [8]:
X = HPP.iloc[ : , 0 : 11]

In [9]:
X.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911

In [10]:
X.drop('ADDRESS', inplace = True, axis = 1)

In [11]:
X.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE
0,Owner,0,0,2,BHK,1300.236407,1,1,12.969910,77.597960
1,Dealer,0,0,2,BHK,1275.000000,1,1,12.274538,76.644605
2,Owner,0,0,2,BHK,933.159722,1,1,12.778033,77.632191
3,Owner,0,1,2,BHK,929.921143,1,1,28.642300,77.344500
4,Dealer,1,0,2,BHK,999.009247,0,1,22.592200,88.484911

In [12]:
y = HPP['TARGET(PRICE_IN_LACS)']

In [13]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse = False, handle_unknown = 'error', drop = 'first')
PB = np.array(X['POSTED_BY'])
PB = PB.reshape(-1, 1)
PB_df = pd.DataFrame(encoder.fit_transform(PB))
PB_df.head()

     0    1
0  0.0  1.0
1  1.0  0.0
2  0.0  1.0
3  0.0  1.0
4  1.0  0.0

In [14]:
X = X.join(PB_df)
X.drop('POSTED_BY', inplace = True, axis = 1)
X.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,0,1
0,0,0,2,BHK,1300.236407,1,1,12.969910,77.597960,0.0,1.0
1,0,0,2,BHK,1275.000000,1,1,12.274538,76.644605,1.0,0.0
2,0,0,2,BHK,933.159722,1,1,12.778033,77.632191,0.0,1.0
3,0,1,2,BHK,929.921143,1,1,28.642300,77.344500,0.0,1.0
4,1,0,2,BHK,999.009247,0,1,22.592200,88.484911,1.0,0.0

In [15]:
BHRK = pd.get_dummies(X['BHK_OR_RK'], prefix = 'B', drop_first = True)
X = pd.concat([X,BHRK], axis = 1)

In [16]:
BHRK.head()

   B_RK
0     0
1     0
2     0
3     0
4     0

In [17]:
BHRK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   B_RK    29451 non-null  uint8
dtypes: uint8(1)
memory usage: 28.9 KB

In [18]:
X.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,0,1,B_RK
0,0,0,2,BHK,1300.236407,1,1,12.969910,77.597960,0.0,1.0,0
1,0,0,2,BHK,1275.000000,1,1,12.274538,76.644605,1.0,0.0,0
2,0,0,2,BHK,933.159722,1,1,12.778033,77.632191,0.0,1.0,0
3,0,1,2,BHK,929.921143,1,1,28.642300,77.344500,0.0,1.0,0
4,1,0,2,BHK,999.009247,0,1,22.592200,88.484911,1.0,0.0,0

In [19]:
X['B_RK'].unique()

array([0, 1], dtype=uint8)

In [20]:
X['B_RK'].value_counts()

0    29427
1       24
Name: B_RK, dtype: int64

In [21]:
X.drop('BHK_OR_RK', inplace = True, axis = 1)

In [22]:
X.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,0,1,B_RK
0,0,0,2,1300.236407,1,1,12.969910,77.597960,0.0,1.0,0
1,0,0,2,1275.000000,1,1,12.274538,76.644605,1.0,0.0,0
2,0,0,2,933.159722,1,1,12.778033,77.632191,0.0,1.0,0
3,0,1,2,929.921143,1,1,28.642300,77.344500,0.0,1.0,0
4,1,0,2,999.009247,0,1,22.592200,88.484911,1.0,0.0,0

In [23]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [24]:
scaler = StandardScaler()

k = np.array(X['SQUARE_FT'])
k= k.reshape(-1, 1)
K = scaler.fit_transform(k)

X['SQUARE_FT'] = K

In [25]:
X.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,0,1,B_RK
0,0,0,2,-0.009731,1,1,12.969910,77.597960,0.0,1.0,0
1,0,0,2,-0.009744,1,1,12.274538,76.644605,1.0,0.0,0
2,0,0,2,-0.009924,1,1,12.778033,77.632191,0.0,1.0,0
3,0,1,2,-0.009926,1,1,28.642300,77.344500,0.0,1.0,0
4,1,0,2,-0.009890,0,1,22.592200,88.484911,1.0,0.0,0

In [26]:
k = np.array(X['LONGITUDE'])
k= k.reshape(-1, 1)
K = scaler.fit_transform(k)

X['LONGITUDE'] = K

In [27]:
k = np.array(X['LATITUDE'])
k= k.reshape(-1, 1)
K = scaler.fit_transform(k)

X['LATITUDE'] = K

In [28]:
X.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,0,1,B_RK
0,0,0,2,-0.009731,1,1,-1.342478,0.072011,0.0,1.0,0
1,0,0,2,-0.009744,1,1,-1.454541,-0.018289,1.0,0.0,0
2,0,0,2,-0.009924,1,1,-1.373400,0.075254,0.0,1.0,0
3,0,1,2,-0.009926,1,1,1.183208,0.048004,0.0,1.0,0
4,1,0,2,-0.009890,0,1,0.208204,1.103210,1.0,0.0,0

In [29]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score

for i in range (1, 20):
    model = KNeighborsRegressor(n_neighbors = i)
    score = cross_val_score(model, X, y, cv = 5)
    print(i, score.mean())

1 0.5881840430199349
2 0.598286285992049
3 0.5591709196906812
4 0.5152400808833554
5 0.47976706866781677
6 0.43743716088105067
7 0.4116571394042988
8 0.3867536659337788
9 0.3624866184159075
10 0.3426556869797027
11 0.3294685429129411
12 0.31618560518029576
13 0.30202381370486364
14 0.28844782563058713
15 0.2772320372291201
16 0.2702130678332934
17 0.2605981362273026
18 0.25132428127945927
19 0.2375984699159161